<h2 class="developer-table">Backup Calcs</h2>
        <table class="developer-table">
            <thead>
                <tr>
                    <th>Row</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Unlimited Values</td>
                    <td><%= Math.floor(unlimitedValues * alphaValue1) %></td>
                    <td><%= Math.floor(unlimitedValues * alphaValue2) %></td>
                    <td><%= Math.floor(unlimitedValues * alphaValue3) %></td>
                    <td><%= Math.floor(unlimitedValuesV2 * alphaValue1 * alphaValue1) %></td>
                    <td><%= Math.floor(unlimitedValuesV2 * alphaValue2) %></td>
                    <td><%= Math.floor(unlimitedValuesV2 * alphaValue3 * alphaValue3) %></td>
                </tr>
                <tr>
                    <td>Alpha=</td>
                    <td><%= alphaValue1 %></td>
                    <td><%= alphaValue2 %></td>
                    <td><%= alphaValue3 %></td>
                    <td><%= alphaValue1 %></td>
                    <td><%= alphaValue2 %></td>
                    <td><%= alphaValue3 %></td>
                </tr>
            </tbody>
        </table>