<%
    // Variables
    alphaArray1 = [];
    alphaArray2 = [];
    alphaArray3 = [];
    BLLWArray = [];
    processRiskArray = [];
    processSeverityArray = [];

    var averageBLLW = 0;
    var BLLW = 0;
    
    // Static data
    const policyLimits = [100, 200, 250, 300, 500, 750, 1000, 1500, 2000, 2500, 3000, 4000, 5000, 10000];
    const policyLimitsV2 = [100000, 200000, 250000, 300000, 500000, 750000, 1000000, 1500000, 2000000, 2500000, 3000000, 4000000, 5000000, 10000000];


    //Important starting functions
        
    const unlimitedValues = data.reduce((sum, item) => {
            let productSum = 0;
            for (let i = 1; i <= 12; i++) {
                const mean = parseFloat(String(item[`Mean${i}`]).replace(',', '.'));
                const wt = parseFloat(String(item[`Wt${i}`]).replace(',', '.'));
                if (!isNaN(mean) && !isNaN(wt)) {
                    productSum += mean * wt;
                }
            }
            return sum + productSum;
        }, 0);

    

    const alphaValue1 = data[0] && !isNaN(parseFloat(data[0].a)) ? (1 - Math.sqrt(parseFloat((data[0].a).replace(',', '.')) * 3)) : 'N/A';
    const alphaValue2 = 1;
    const alphaValue3 = data[0] && !isNaN(parseFloat(data[0].a)) ? (1 + Math.sqrt(parseFloat((data[0].a).replace(',', '.')) * 3)) : 'N/A';


    if(data[0] !== undefined){
        policyLimitsV2.forEach(function(limit, index) { 
            const key = Object.keys(data[0])[index + 15];
            if (data[0][key] !== undefined) {
                    BLLW = parseFloat(String(data[0][key]).replace(',', '.'));
                    BLLWArray.push(BLLW);
                    averageBLLW += BLLW;
                    alphaArray1.push(LimitedAverageSeverity(alphaValue1, unlimitedValues * alphaValue1, limit));
                    alphaArray2.push(LimitedAverageSeverity(alphaValue2, unlimitedValues * alphaValue2, limit));
                    alphaArray3.push(LimitedAverageSeverity(alphaValue3, unlimitedValues * alphaValue3, limit));
                } 
            })
        }
    


    averageAlphaArray1 = parseFloat(CalculateAverage(alphaArray1).toFixed(0)) 
    averageAlphaArray2 = parseFloat(CalculateAverage(alphaArray2).toFixed(0)) 
    averageAlphaArray3 = parseFloat(CalculateAverage(alphaArray3).toFixed(0)) 
    ghLas = (averageAlphaArray1 + 4*averageAlphaArray2 + averageAlphaArray3)/6


    // Imported data
    dataNbara = data[0] && !isNaN(parseFloat(String(data[0].nbara).replace(',', '.'))) ? parseFloat(String(data[0].nbara).replace(',', '.')) : 0;
    dataNbarc = data[0] && !isNaN(parseFloat(String(data[0].nbarc).replace(',', '.'))) ? parseFloat(String(data[0].nbarc).replace(',', '.')) : 0;
    dataC = data[0] && !isNaN(parseFloat(String(data[0].c).replace(',', '.'))) ? parseFloat(String(data[0].c).replace(',', '.')) : 0;
    dataRisk_parm = data[0] && !isNaN(parseFloat(String(data[0].risk_parm).replace(',', '.'))) ? parseFloat(String(data[0].risk_parm).replace(',', '.')) : 0;



    // Functions
        



        const unlimitedValuesV2 = data.reduce((sum, item) => {
            let productSum = 0;
            for (let i = 1; i <= 12; i++) {
                const mean = parseFloat(String(item[`Mean${i}`]).replace(',', '.'));
                const wt = parseFloat(String(item[`Wt${i}`]).replace(',', '.'));
                productSum += mean * mean * wt;
            }
            return 2 * (sum + productSum);
        }, 0);

        const sumProductAlpha1 = data.reduce((sum, item) => {
            let productSum = 0;
            for (let i = 1; i <= 12; i++) {
                const mean = parseFloat(String(item[`Mean${i}`]).replace(',', '.'));
                const wt = parseFloat(String(item[`Wt${i}`]).replace(',', '.'));
                if (!isNaN(mean) && !isNaN(wt)) {
                    productSum += mean * wt;
                }
            }
            return sum + productSum;
        }, 0);

        function LimitedAverageSeverity(aValue, uValue, Policylimit){
            const LimitedAverageSeverity = data.reduce((sum, item) => {
                let productSum = 0;
                for (let i = 1; i <= 12; i++) {
                    const mean = parseFloat(String(item[`Mean${i}`]).replace(',', '.')) * aValue;
                    const wt = parseFloat(String(item[`Wt${i}`]).replace(',', '.'));


                    if (!isNaN(mean) && !isNaN(wt)) {
                        productSum += mean * wt * Math.exp(-Policylimit / mean);
                    }
                }
                return sum + productSum;
            }, 0);
            return uValue - LimitedAverageSeverity;
        }

        function LimitedSecondMoment(aValue, uValue, Policylimit){
            const LimitedSecondMoment = data.reduce((sum, item) => {
                let productSum = 0;
                for (let i = 1; i <= 12; i++) {
                    const mean = parseFloat(String(item[`Mean${i}`]).replace(',', '.')) * aValue;
                    const wt = parseFloat(String(item[`Wt${i}`]).replace(',', '.'));


                    if (!isNaN(mean) && !isNaN(wt)) {
                        productSum += mean * wt * (mean + Policylimit) * Math.exp(-Policylimit / mean);
                    }
                }
                return sum + productSum;
            }, 0);
            return uValue - 2 * LimitedSecondMoment;
        }

        function FinalRiskLoadAmounts(PolicyLimit){
            const risk_parm = parseFloat(String(data[0].risk_parm).replace(',', '.'));
            const d = parseFloat(String(data[0].d).replace(',', '.'));

            const AverageAlpha1 = LimitedAverageSeverity(alphaValue1, unlimitedValues * alphaValue1, PolicyLimit)
            const AverageAlpha2 = LimitedAverageSeverity(alphaValue2, unlimitedValues * alphaValue2, PolicyLimit)
            const AverageAlpha3 = LimitedAverageSeverity(alphaValue3, unlimitedValues * alphaValue3, PolicyLimit)
            const SecondAlpha1 = LimitedSecondMoment(alphaValue1, unlimitedValuesV2 * alphaValue1 * alphaValue1, PolicyLimit)
            const SecondAlpha2 = LimitedSecondMoment(alphaValue2, unlimitedValuesV2 * alphaValue2, PolicyLimit)
            const SecondAlpha3 = LimitedSecondMoment(alphaValue3, unlimitedValuesV2 * alphaValue3 * alphaValue3, PolicyLimit)

            return risk_parm * 0.0000001 * 
                    ((SecondAlpha1 + 4 * SecondAlpha2 + SecondAlpha3) +
                    (d * (Math.pow(AverageAlpha1, 2) + 4 * Math.pow(AverageAlpha2, 2) + Math.pow(AverageAlpha3, 2))))/6;
            
        }


        function LimitedAverageSeverityFinal(policyLimit){
            const LimitedAverageSeverityFinal = data.reduce((sum, item) => {
                let productSum = 0;
                for (let i = 1; i <= 12; i++) {
                    const mean = parseFloat(String(item[`Mean${i}`]).replace(',', '.'));
                    const wt = parseFloat(String(item[`Wt${i}`]).replace(',', '.'));

                    const expComponent = 1 - Math.exp((-1 / mean) * 1000 * policyLimit)
                    
                    productSum += expComponent * mean * wt;
                }
                return sum + productSum;
                }, 0);
            return LimitedAverageSeverityFinal.toFixed(0);
        }



        function CalculateAverage(alphaValue){
            let sumProductAverage = 0;
            for (let i = 0; i < alphaValue.length; i++){
                sumProductAverage += alphaValue[i] * BLLWArray[i];
            }
            return sumProductAverage / averageBLLW;
        }



        //Frequency risk load Amount

        function processRisk(alphaK1, alphaK2, alphaK3){


            result = 2*dataNbarc*dataC*dataRisk_parm*(alphaK1*averageAlphaArray1+4*alphaK2*averageAlphaArray2+alphaK3*averageAlphaArray3)/6
            return result * 0.0000001;

        }
        function processSeverity(alphaK1, alphaK2, alphaK3){
            result = 2*dataNbara*dataRisk_parm*((alphaK1*averageAlphaArray1+4*alphaK2*averageAlphaArray2+alphaK3*averageAlphaArray3)/6-(alphaK1+4*alphaK2+alphaK3)/6*ghLas)
            return result * 0.0000001;
        }

    %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versik-Calc</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Select Table</h1>
    <form action="/filter" method="post" id="filterForm">
        <label for="lob">Select LOB:</label>
        <select name="lob" id="lob" onchange="document.getElementById('filterForm').submit()">
            <% lobs.forEach(function(lob) { %>
                <option value="<%= lob %>" <%= lob === selectedLob ? 'selected' : '' %>><%= lob %></option>
            <% }); %>
        </select>
        
        <% if (names && names.length > 0) { %>
            <label for="name">Select Name:</label>
            <select name="name" id="name">
                <% names.forEach(function(name) { %>
                    <option value="<%= name %>" <%= name === selectedName ? 'selected' : '' %>><%= name %></option>
                <% }); %>
            </select>
        <% } %>

        <button type="submit">Filter</button>
    </form>
    <div>

    </div>
    <h2 class="developer-table">Filtered Data</h2>
    <% if (data.length > 0) { %>
        <table class="developer-table">
            <thead>
                <tr>
                    <% Object.keys(data[0]).forEach(function(key) { %>
                        <th><%= key %></th>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(item) { %>
                    <tr>
                        <% Object.keys(item).forEach(function(key) { %>
                            <td><%= item[key] %></td>
                        <% }); %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <h2 class="developer-table">Backup Calcs</h2>
        <table class="developer-table">
            <thead>
                <tr>
                    <th>Row</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Unlimited Values</td>
                    <td><%= Math.floor(unlimitedValues * alphaValue1) %></td>
                    <td><%= Math.floor(unlimitedValues * alphaValue2) %></td>
                    <td><%= Math.floor(unlimitedValues * alphaValue3) %></td>
                    <td><%= Math.floor(unlimitedValuesV2 * alphaValue1 * alphaValue1) %></td>
                    <td><%= Math.floor(unlimitedValuesV2 * alphaValue2) %></td>
                    <td><%= Math.floor(unlimitedValuesV2 * alphaValue3 * alphaValue3) %></td>
                </tr>
                <tr>
                    <td>Alpha=</td>
                    <td><%= alphaValue1 %></td>
                    <td><%= alphaValue2 %></td>
                    <td><%= alphaValue3 %></td>
                    <td><%= alphaValue1 %></td>
                    <td><%= alphaValue2 %></td>
                    <td><%= alphaValue3 %></td>
                </tr>
            </tbody>
        </table>

        <h2 class="developer-table">Backup Calcs V2</h2>
        <table class="developer-table">
            <thead>
                <tr>
                    <th>Policy Limit</th>
                    <th>Bsc Lim Loss Wt</th>
                    <th>Alpha1</th>
                    <th>Alpha2</th>
                    <th>Alpha3</th>
                    <th>Alpha1</th>
                    <th>Alpha2</th>
                    <th>Alpha3</th>
                    <th>Process</th>
                    <th>Frequency</th>
                    <th>Severity</th>
                </tr>
            </thead>
            <tbody>
                <% 
                    policyLimitsV2.forEach(function(limit, index) { 
                        

                    
                    
                    alphaK1 = LimitedAverageSeverity(alphaValue1, unlimitedValues * alphaValue1, limit)
                    alphaK2 = LimitedAverageSeverity(alphaValue2, unlimitedValues * alphaValue2, limit)
                    alphaK3 = LimitedAverageSeverity(alphaValue3, unlimitedValues * alphaValue3, limit)

                    

                    processRiskArray.push(processRisk(alphaK1, alphaK2, alphaK3))
                    processSeverityArray.push(processSeverity(alphaK1, alphaK2, alphaK3))
                        %>
                    <tr>
                        <td><%= limit %></td>
                        <td><%= data[0][Object.keys(data[0])[index + 15]] %></td>
                        <td><%= LimitedAverageSeverity(alphaValue1, unlimitedValues * alphaValue1, limit).toFixed(0) %></td>
                        <td><%= LimitedAverageSeverity(alphaValue2, unlimitedValues * alphaValue2, limit).toFixed(0)%></td>
                        <td><%= LimitedAverageSeverity(alphaValue3, unlimitedValues * alphaValue3, limit).toFixed(0) %></td>
                        <td><%= LimitedSecondMoment(alphaValue1, unlimitedValuesV2 * alphaValue1 * alphaValue1, limit).toFixed(0) %></td>
                        <td><%= LimitedSecondMoment(alphaValue2, unlimitedValuesV2 * alphaValue2, limit).toFixed(0) %></td>
                        <td><%= LimitedSecondMoment(alphaValue3, unlimitedValuesV2 * alphaValue3 * alphaValue3, limit).toFixed(0) %></td>
                        <td><%= FinalRiskLoadAmounts(limit).toFixed(0) %></td>
                        <td><%= processRisk(alphaK1, alphaK2, alphaK3) %></td>
                        <td><%= processSeverity(alphaK1, alphaK2, alphaK3) %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <h2 class="developer-table">Average Calcs</h2>
        <table class="developer-table">
            <thead>
                <tr>
                    <td>Average BLLW</td>
                    <td>Average Alpha1</td>
                    <td>Average Alpha2</td>
                    <td>Average Alpha3</td>
                    <td>G-H LAS:</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= averageBLLW.toFixed(0) %></td>
                    <td><%= averageAlphaArray1 %></td>
                    <td><%= averageAlphaArray2 %></td>
                    <td><%= averageAlphaArray3 %></td>
                    <td><%= ghLas = (averageAlphaArray1 + 4*averageAlphaArray2 + averageAlphaArray3)/6 %></td>

                </tr>
            </tbody>
            
        </table>
        <table>
            <thead>
                <tr>
                    <th>Policy limit</th>
                    <th>Limited Avergae Severity</th>
                    <th>ALAE per Occurence</th>
                    <th>ULAE per Occurence</th>
                    <th>Without Risk Load</th>
                    <th>Process Risk Load</th>
                    <th>Parameter Risk Load</th>
                    <th>ILF With Risk Load</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < policyLimits.length; i++) { %>
                    <% 
                    
                    var LimitedAverageSeverityFinalResult = parseFloat(LimitedAverageSeverityFinal(policyLimits[i]));
                    var AlaePerOccurence = data[0].ALAE;
                    var ULAE = data[0].ULAE;


                        

                        ULAE = parseFloat(String(ULAE).replace(',', '.'));
                        AlaePerOccurence = parseFloat(String(AlaePerOccurence).replace(',', '.'));

                        var UlaePerOccurence = (ULAE * (LimitedAverageSeverityFinalResult + AlaePerOccurence)).toFixed(0)

                        var stableSum = parseFloat(LimitedAverageSeverityFinal(policyLimits[0])) + AlaePerOccurence + (ULAE * (parseFloat(LimitedAverageSeverityFinal(policyLimits[0])) + AlaePerOccurence));

                        var WithoutRiskLoad = ((LimitedAverageSeverityFinalResult + AlaePerOccurence + parseFloat(UlaePerOccurence))/(stableSum)).toFixed(2);

                        var finalRiskLoadAmountsResult = FinalRiskLoadAmounts(policyLimits[i]*1000)
                        //(B10+C10+D10)/($B$10+$C$10+$D$10)

                        var StableLimitedAverageSeverityFinalResult = parseFloat(LimitedAverageSeverityFinal(policyLimits[0]));
                        var StableUlaePerOccurance = (ULAE * (StableLimitedAverageSeverityFinalResult + AlaePerOccurence)).toFixed(0)
                        var ParameterRiskLoad = (processRiskArray[i] + processSeverityArray[i]).toFixed(0)
                        var StableParameterRiskLoad = (processRiskArray[0] + processSeverityArray[0]).toFixed(0)
                        var StableFinalRiskLoadAmountsResult = FinalRiskLoadAmounts(policyLimits[0]*1000)
                        var ilfWithRiskLoad = (LimitedAverageSeverityFinalResult + AlaePerOccurence + parseFloat(UlaePerOccurence) + parseFloat(finalRiskLoadAmountsResult) + parseFloat(ParameterRiskLoad))/(StableLimitedAverageSeverityFinalResult + parseFloat(AlaePerOccurence) + parseFloat(StableUlaePerOccurance) + parseFloat(StableFinalRiskLoadAmountsResult) + parseFloat(StableParameterRiskLoad))
                    %>
                    <tr>
                        <td><%= policyLimits[i] %></td>
                        <td><%= LimitedAverageSeverityFinalResult %></td>
                        <td><%= AlaePerOccurence %></td>
                        <td><%= UlaePerOccurence %></td>
                        <td><%= WithoutRiskLoad %></td>
                        <td><%= finalRiskLoadAmountsResult.toFixed(0) %></td>
                        <td><%= ParameterRiskLoad %></td>
                        <td><%= ilfWithRiskLoad.toFixed(2) %></td>
                    </tr>

                <% } %>
            </tbody>
        </table>
    
    <% } else { %>
        <p>No data available</p>
    <% } %>
</body>
</html>